<header>
  <div class="container content-wrapper">
    <div class="row">
      <div class="col-lg-3 col-6 img-wrapper">
        <img
          class="movie-img"
          [src]="
            'https://www.themoviedb.org/t/p/w220_and_h330_face' +
            movieDetails?.poster_path
          "
          alt="Movie Poster"
        />
      </div>
      <section
        class="col-lg-9 col-12 d-flex flex-column justify-content-center"
      >
        <h1 class="movie-title">{{ movieDetails?.title }}</h1>
        <div class="inline-details">
          <span>{{ movieDetails?.release_date }}</span>
          <span>{{ movieDetails?.production_country }}</span>
          <span *ngFor="let genre of movieDetails?.genres">{{ genre }}</span>
          <span>
            {{ movieDetails?.runtime + " " + ("mins" | translate) }}
          </span>
        </div>
        <p class="movie-tagline">
          <i>{{ movieDetails?.tagline }}</i>
        </p>
        <h2 class="mb-0">{{ "overview" | translate }}</h2>
        <p>{{ movieDetails?.overview }}</p>
      </section>
    </div>
  </div>
  <img
    [src]="
      'https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces' +
      movieDetails?.backdrop_path
    "
    alt="Background Image"
    class="background-img position-absolute"
  />
</header>

<article class="container pb-5">
  <h1 class="mt-3 title">{{ "cast" | translate }}</h1>
  <div class="row">
    <div class="col-lg-10 col-12">
      <div class="row cast-slider mx-0 px-0">
        <div
          class="col-lg-3 col-md-4 col-6"
          *ngFor="let actor of movieCredits?.cast"
        >
          <mat-card class="mb-2">
            <mat-card-header>
              <img
                class="img-fluid actor-img"
                [src]="
                  'https://www.themoviedb.org/t/p/w220_and_h330_face' +
                  actor.profile_path
                "
                alt="Actor Image"
              />
            </mat-card-header>
            <mat-card-content>
              <h2 class="actor-title">{{ actor.original_name }}</h2>
              <p class="actor-character">{{ actor.character }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-12">
      <h1 class="mt-3 title">{{ "moreInfo" | translate }}</h1>
      <div class="row">
        <div class="col-lg-12 col-4">
          <p class="mb-0">
            <b>{{ "status" | translate }}</b>
          </p>
          <p>{{ movieDetails?.status }}</p>
        </div>
        <div class="col-lg-12 col-4">
          <p class="mb-0">
            <b>{{ "budget" | translate }}</b>
          </p>
          <p>{{ movieDetails?.budget + " $" }}</p>
        </div>
        <div class="col-lg-12 col-4">
          <p class="mb-0">
            <b>{{ "revenue" | translate }}</b>
          </p>
          <p>{{ movieDetails?.revenue + " $" }}</p>
        </div>
      </div>
    </div>
  </div>
</article>
