<div class="container mt-5">
  <div *ngIf="isLoading">
    <div class="d-flex justify-content-center">
      <app-spinner></app-spinner>
    </div>
  </div>
  <div class="row" *ngIf="!isLoading">
    <div
      class="col-lg-3 col-md-4 col-sm-6 movie-test"
      *ngFor="let movie of moviesList"
    >
      <app-movie [movie]="movie"></app-movie>
    </div>
  </div>
  <app-paginator
    (paginate)="getMovies($event)"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
  ></app-paginator>
</div>
