<nav class="navbar navbar-expand-lg">
  <div class="container">
    <h1 class="mb-0">
      <a class="navbar-brand" routerLink="">{{ "brand" | translate }}</a>
    </h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 d-flex justify-content-between">
        <li class="nav-item">
          <a
            mat-button
            routerLink="/catalog"
            routerLinkActive="active"
            class="nav-link"
            >{{ "catalog" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            mat-flat-button
            routerLink="/authentication"
            color="accent"
            class="authentication-button"
            *ngIf="!isLoggedIn"
            >{{ "login" | translate }}</a
          >
          <button
            mat-flat-button
            class="authentication-button"
            color="accent"
            (click)="onLogout()"
            *ngIf="isLoggedIn"
          >
            {{ "logout" | translate }}
          </button>
          <app-language-switcher></app-language-switcher>
        </li>
      </ul>
    </div>
  </div>
</nav>
