<div class="row">
  <div class="col-12">
    <form class="container">
      <!-- [formControl]="emailFormControl" -->
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput />
      </mat-form-field>
      <button mat-button type="submit">
        {{ isLogin ? "Login" : "Sign Up" }}
      </button>
      <button mat-button (click)="onSwitchAuth()">
        {{ isLogin ? "Sign Up" : "Login" }}
      </button>
    </form>
  </div>
</div>
