<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-12 mx-auto">
      <div class="alert" color="warn" *ngIf="error">
        <p class="mb-0">{{ error }}</p>
      </div>
      <div
        class="d-flex align-items-center justify-content-center"
        *ngIf="isLoading"
      >
        <app-spinner></app-spinner>
      </div>
      <div class="container-fluid py-3">
        <h1>Angular reCAPTCHA v3</h1>

        <form #form="ngForm">
          <div class="row mt-3">
            <div class="col-sm-12 mb-2">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                (click)="send(form)"
              >
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
      <form
        class=""
        #authForm="ngForm"
        (ngSubmit)="onSubmit(authForm)"
        *ngIf="!isLoading"
      >
        <mat-form-field class="w-100" *ngIf="!isLogin">
          <mat-label>First Name</mat-label>
          <input
            type="text"
            matInput
            placeholder="Abdelrahman"
            name="firstName"
            ngModel
            required
          />
        </mat-form-field>
        <mat-form-field class="w-100" *ngIf="!isLogin">
          <mat-label>Last Name</mat-label>
          <input
            type="text"
            matInput
            placeholder="Omar"
            name="lastName"
            ngModel
            required
          />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>{{ "email" | translate }}</mat-label>
          <input
            type="email"
            matInput
            placeholder="{{ 'example' | translate }} pat@example.com"
            name="email"
            ngModel
            required
            email
          />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>{{ "password" | translate }}</mat-label>
          <input
            type="password"
            matInput
            name="password"
            ngModel
            required
            pattern="^(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=\D*\d).{8,}$"
          />
        </mat-form-field>
        <button
          mat-raised-button
          type="submit"
          [disabled]="!authForm.valid || !isCaptchaAuthenticated"
          class="d-block mx-auto mb-2 submit-button"
        >
          {{ (isLogin ? "login" : "signup") | translate }}
        </button>
        <button
          mat-raised-button
          type="button"
          (click)="onSwitchAuth()"
          class="d-block mx-auto"
        >
          {{ (isLogin ? "switchToSign" : "switchToLogin") | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
