:root {
  --primary: #3f51b5;
  --accent: #b5a33f;
  --CTA: #ff4081;
  --warning: #f44336;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafd;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* RTL */
html[dir="rtl"] {
  .inline-details {
    span + span::before {
      right: 7px;
    }
  }
  .background-img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
