<mat-card [routerLink]="[movieID]">
  <mat-card-header>
    <img
      [src]="
        'https://www.themoviedb.org/t/p/w220_and_h330_face' + movie?.poster_path
      "
      alt="Movie Image"
      class="movie-img img-fluid w-100"
  /></mat-card-header>
  <mat-card-content>
    <div class="spinner-container position-relative">
      <mat-progress-spinner
        mode="determinate"
        [value]="movieRating"
        diameter="50"
        strokeWidth="4"
        class="spinner-color"
      ></mat-progress-spinner>
      <span class="spinner-text position-absolute">{{
        movieRating + "%"
      }}</span>
    </div>
    <h2 class="movie-title">{{ movie?.title }}</h2>
    <span class="movie-date">{{ movie?.release_date }}</span>
  </mat-card-content>
</mat-card>
